.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
  background-image: url('../../images/background/homebackground.png');
  background-size: cover; /* Makes sure the image covers the whole div */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  height: 450px;
}
.boxContainer {
  max-width: 81vw;
}
.copy {
  width: 400px;
}
@media only screen and (max-width: 768px) {
  .boxContainer {
    max-width: 100vw;
  }
  .copy {
    width: 70%;
  }
}

.card {
  margin-bottom: 20px;
}
.dropdown-menu {
  box-shadow: $box-shadow;
}
.cursor-pointer {
  cursor: pointer;
}
.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
  &.md-box {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }
}
.button-group .btn {
  margin: 3px;
}
.btn-white {
  border: 1px solid $border-color;
}
.simplebar-scrollbar:before {
  background: #a0a0a0;
}
.apexcharts-toolbar {
  z-index: 0 !important;
}
.leftRightBox {
  overflow: hidden;
}

.op-3 {
  opacity: 0.3;
}

.op-5 {
  opacity: 0.5;
}

.fw-medium {
  font-weight: 500;
}

/*************Left right two column ***************/
.leftPart {
  width: 300px;
  min-height: calc(100vh - 200px);
  position: relative;
  transition: 0.1s ease-in;
  .openCloseBtn {
    position: absolute;
    right: -42px;
    top: 13px;
  }
}
.threeColumn {
  .leftPart {
    width: 250px;
  }
}
.rightPart {
  flex-grow: 1;
  min-height: calc(100vh - 200px);
  transition: 0.1s ease-in;
}
.closeRbtn {
  right: 15px;
  top: 15px;
  z-index: 2;
}
.contentOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
@include media-breakpoint-down(lg) {
  .leftPart {
    position: absolute;
    left: -300px;
    z-index: 1;
    box-shadow: $box-shadow;
    &.showLeftPart {
      left: 0;
    }
  }
  .threeColumn {
    .rightPart {
      position: absolute;
      right: -100%;
      top: 0;
      width: 100%;
      z-index: 1;

      &.showRightPart {
        right: 0;
      }
    }
  }
}
@include media-breakpoint-down(xl) {
  .threeColumn {
    .leftPart {
      left: -250px;
      position: absolute;
      z-index: 1;
      box-shadow: $box-shadow;
      &.showLeftPart {
        left: 0;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .threeColumn {
    .leftPart {
      width: 250px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .middlePart {
    width: 300px;
    border-right: 1px solid $border-color;
    min-height: calc(100vh - 200px);
    position: relative;
    transition: 0.1s ease-in;
  }
}

.loginBox {
  height: 100vh;
  .loginContainer {
    max-width: 390px;
  }
}

.table > :not(:first-child) {
  border-width: 0;
}

.text-dark-white {
  color: #fff !important;
}

// for editor
.rdw-embedded-modal {
  left: unset !important;
  right: 5px !important;
  height: auto !important;
}

.rdw-embedded-modal-header-option {
  width: 100% !important;
}

.card-title {
  font-weight: 500;
}

.table {
  th {
    font-weight: 500;
  }
}

.bg-opacity {
  background: rgba(0, 0, 0, 0.3);
  height: 360px;
}

//new css

.floating-input {
  position: relative;
}

.floating-input .form-control {
  border-radius: 12px;
  border: 1px solid #74b9ff;
  padding: 18px 12px;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s ease;
}

.floating-input .form-control:focus {
  outline: none;
  border-color: #0984e3;
  box-shadow: 0 0 5px rgba(9, 132, 227, 0.2);
}

.floating-input .floating-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: #636e72;
  font-size: 16px;
  pointer-events: none;
}

.floating-input .form-control:focus + .floating-label,
.floating-input .form-control:not(:placeholder-shown) + .floating-label {
  top: 0;
  transform: translateY(-150%);
  font-size: 12px;
  color: #0984e3;
}

.floating-input .invalid-feedback {
  color: red;
}

//new css


.centered-modal {
  max-width: 70%; 
}

.has-value-fact-input ~ label{
  top: -0.75rem;
  @apply text-secondary;
}




// .centered-modal .modal-content {
//   width: 100%;
//   height: auto;
// }

// .centered-modal .modal-dialog {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }


// .login-container {
//   height: 100vh; /* Make the container fill the entire viewport */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden; /* Prevent scrolling within the container */
// }