.rotating-circle-loader {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .rotating-circle-loader .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: rotate 1s linear infinite;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }